.root {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background: #4056A1;
    color: white;
    z-index: 2;
    cursor: pointer;

    &_isClicked {
        padding: 10px 55px;
        background: #00B177;
    }
}

.wrapper {
    display: flex;
}